{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bookie Homepage</title>
    <link rel="stylesheet" href="{% static 'style.css'%}">
    <link rel="stylesheet" href="{% static 'books/nav.css'%}">

    <!-- FONT -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Comic+Relief:wght@400;700&display=swap" rel="stylesheet">
</head>

<body>
    <!-- Navigation -->
    <nav>
        <div id="grid-item">
            <a href="{% url 'home' %}">
                <img id="logo" src="{% static 'books/assets/images/bookie_logo.png' %}" alt="MyBookie Logo">
            </a>
        </div>
        <div class="navbar-inline">
            <ul class="nav">
                <li><a href="{% url 'more_bookie'%}">More Bookie</a></li>
                <li><a href="{% url 'index' %}">Mybookie</a></li>
                <li><a href="{% url 'about' %}">About</a></li>
                <li class="nav-btn">
                    <form action="{% url 'login'%}" method="post">
                        {% csrf_token %}
                        <button type="submit">
                            Login :)
                        </button>
                    </form>
                </li>
            </ul>
        </div>
    </nav>

    <main>
        <!-- ================= HERO ================= -->
        <section class="hero">

            <div class="hero-content">

                <p class="hero-small">
                    Where <i>Cutie </i> meet
                </p>

                <h1>Bookie</h1>

                <div class="bookie-text">
                    <span>Bookie</span>
                    <span>Bookie</span>
                    <span>Bookie</span>
                </div>

            </div>

        </section>


        <!-- ================= WHY BOOKIE ================= -->
        <section class="why-section">

            <div class="why-image">
                <img src="{% static 'assets/images/bee-cat.png' %}" alt="">
            </div>

            <div class="why-content">

                <h2>Extremely cute bookie</h2>

                <h1>
                    making you want to read
                    moree books!
                </h1>

                <p>
                    i'm telling you, reading is so much fun.
                    whether it's novel, comic, self improvement,
                    fiction, non-fiction, religi, assjhashajha
                </p>

            </div>

        </section>


        <!-- ================= FAVORITE GENRE ================= -->
        <section class="genre-section">

            <div class="genre-content">

                <h2>
                    What's your
                    <span>favorite</span> genre?
                </h2>

                <div class="genre">

                    <button class="genre-btn">Action</button>
                    <button class="genre-btn">Thriller</button>

                    <button class="genre-btn">Sci-fi</button>
                    <button class="genre-btn">Fantasy</button>

                    <button class="genre-btn">Mystery</button>
                    <button class="genre-btn">SOL</button>

                    <button class="genre-btn">Romance</button>
                    <button class="genre-btn">Comedy</button>

                </div>

            </div>

            <div class="genre-image">

                <img src="{% static 'assets/images/bee-cat.png' %}" alt="Bookie">

            </div>

        </section>

        <section>
            <form method="POST">

                {% csrf_token %}

                {{ form.as_p }}

                <button type="submit">
                    Submit Feedback
                </button>

            </form>

        </section>
    </main>
</body>

</html>