{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Booklist</title>
    <link rel="stylesheet" href="{% static 'books/style.css'%}">
    <link rel="stylesheet" href="{% static 'books/nav.css'%}">

    <!-- FONT -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Comic+Relief:wght@400;700&display=swap" rel="stylesheet">
</head>

<body>
    <!-- Navigation -->
    <nav>
        <div id="grid-item">
            <a href="{% url 'home' %}">
                <img id="logo" src="{% static 'books/assets/images/bookie_logo.png' %}" alt="MyBookie Logo">
            </a>
        </div>
        <div class="navbar-inline">
            <ul class="nav">
                <li><a href="{% url 'more_bookie'%}">More Bookie</a></li>
                <li><a href="{% url 'index' %}">Mybookie</a></li>
                <li><a href="{% url 'about' %}">About</a></li>
                <li class="nav-btn">
                    <form action="{% url 'logout'%}" method="post">
                        {% csrf_token %}
                        <button type="submit">
                            Logout :(
                        </button>
                    </form>
                </li>
            </ul>
        </div>
    </nav>

    <!-- Main -->
    <main class="container">
        <!-- Halo -->
        <h2 class="halo">
            Hello, {{user.username}} :)
        </h2>

        <!-- Dashboard -->
        <section class="dashboard">

            <!-- STATISTICS -->
            <div class="statistic">

                <!-- Total -->
                <div class="big-card">
                    <p>Total books:</p>
                    <strong>
                        {{ total_books }}
                    </strong>
                </div>

                <!-- Unread, Read -->
                <div class="card">
                    <div class="small-card">
                        <p>Unread books:</p>
                        <strong>
                            {{ unread_books }}
                        </strong>
                    </div>

                    <div class="small-card">
                        <p>Read books:</p>
                        <strong>
                            {{ read_books }}
                        </strong>
                    </div>
                </div>

                <!-- Dropped -->
                <div class="big-card">
                    <p>Dropped books:</p>
                    <strong>
                        {{ dropped_books }}
                    </strong>
                </div>
            </div>


            <!-- NOW PLAYING -->
            <div class="now-playing">

                <small>
                    You got love letter!
                </small>

                <div class="music-content">
                    <a href="#" class="spotify-button">
                        Bookie bookie bookie
                    </a>
                    <p>
                        Nyum!
                    </p>

                </div>
            </div>
        </section>

        <!-- SEARCHING -->
        <form method="GET" class="search-form">
            <input type="text" name="search" placeholder="Searching for something? I got you :)">
            <button type="submit">Submit!</button>
        </form>

        <!-- Category -->
        <nav class="category-nav">
            <a href="{% url 'index' %}">All books</a>
            <a href="?category=unread">Unread</a>
            <a href="?category=read">Read</a>
            <a href="?category=dropped">Dropped</a>

            <!-- ADD BOOK -->

            <a href="{% url 'book_search' %}" class="add-book">
                + Add Book
            </a>
        </nav>

        <!-- Books section -->
        <section class="book-section">

            {% for book in books %}

            <div class="book-card">

                <!-- Book cover -->
                <img 
                src="{{ book.book_cover }}" 
                alt="{{ book.book_title }}"
                class="book-cover"
                >

                <!-- Book information -->
                <div class="book-info">

                    <!-- CLICK TITLE TO DETAIL -->
                    <h3>
                        <a href="{% url 'book_detail' book.id %}">
                            {{ book.book_title }}
                        </a>
                    </h3>

                    <p>{{ book.book_author }}</p>
                    <p>{{ book.display_genre }}</p>
                    <p>{{ book.book_category }}</p>

                    <!-- Action -->
                    <div class="book-actions">
                        <a href="{% url 'book_update' book.id %}">
                            Edit
                        </a>

                        <a href="{% url 'book_delete' book.id %}">
                            Delete
                        </a>
                    </div>

                </div>

            </div>

            {% empty %}

            <p class="empty-message">
                You haven't added any books yet!
            </p>

            {% endfor %}

        </section>
    </main>
</body>

</html>